body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("buss.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 50%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: lightblue;
}

/* Style the current/active link */


/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a #Savari {
    float: left;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

@media screen and (max-width: 500px) {
  .navbar a #logout{
    float: right;
    display: block;
    width: 100%;
    text-align: right; /* If you want the text to be left-aligned on small screens */
  }
}


.form-control{
  fill:none;
  background:transparent;
  border:none;
  border-bottom:1px solid grey;
}